<h1>Vitor Cruz</h1>

<p>
Cloud Infrastructure & Linux Engineer
</p>

<p>
Especialista em servidores Linux, infraestrutura cloud, segurança e automação de sistemas.
</p>

<h2>Projetos</h2>

<ul>
<li>Monitoramento de servidores com Wazuh</li>
<li>Infraestrutura em AWS</li>
<li>Hardening de SSH e mitigação de CVEs</li>
<li>Automação de backups Linux</li>
</ul>
